@font-face{
  font-family:ethnocentric;
  src:url(fonts/ethnocentric.ttf);
}
* {
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
}
html {

}
body {
    font-family:arial;
    color:#1C1C1C;
    font-size:16px;
}
a, a:visited{
    color:#1C1C1C;
    text-decoration:none;
}
a:hover{
    color:#494949;
    text-decoration:underline;
}
a:active{
    color:#303030;
}
#wrap {
    min-height: 100%;
}
#header{
    background:#ccc;
}
.headerLogo{
    text-align:center;
}
.navigation{
    text-align:center;
}
.navigation a{
    background:#00BFFF;
    padding:10px;
    border-radius:5px;
    color:#fff;
    text-shadow: -1px -1px #0091C1;
    text-decoration:none;
    border:1px solid #0091C1;
    font-weight:bold;
}
.navigation a:hover{
    background:#00AEE8
}
#main {
    overflow:auto;
    padding: 20px 10px 100px; /* BOTTOM must be same height as the footer */
    margin:0 auto 20px; /* if footer is broken, remove the 20px */
    width:920px;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
    border-bottom:1px solid #DBDBDB;
}
.bar{
}
.barL{
    float:left;
}
.barR{
    float:right;
    text-align:right;
}
.barLink{
    padding:5px;
    background:#EFEFEF;
    border:1px solid #D6D6D6;
    text-decoration:none;
    color:#1C1C1C;
    width:100px;
    display:block;
}
.barLink:hover{
    background:#E2E2E2;
}
.selectedL{
    border-top:3px solid #D6D6D6;
    border-bottom:3px solid #D6D6D6;
    border-left:3px solid #D6D6D6;
    border-right:3px solid #EFEFEF;
}
.selectedR{
    border-top:3px solid #D6D6D6;
    border-bottom:3px solid #D6D6D6;
    border-right:3px solid #D6D6D6;
    border-left:3px solid #EFEFEF;
}
.viewPage{
    text-align:center;
}
.viewTeam{
    float:left;
    width:350px;
}
.viewMatch{
    float:right;
    width:350px;
}
.viewTeamBox, .viewMatchBox{
    background:#ccc;
    border:1px solid #ddd;
    box-shadow:0 0 5px #222;
    padding:20px;
    display:block;
    margin-bottom:30px;
    font-weight:bold;
}
.viewTeamBox{
    margin-left:10px;
}
.viewMatchBox{
    margin-right:10px;
}
.info{
    border:3px solid #D6D6D6;
    padding:10px 10px 10px;
    margin-top:5px;
    /*display:inline;*/
    width:800px;
    margin:0 auto;
}
.optionsTitle{
    margin:0 auto;
    width:600px;
    text-align:center;
    display:none;
}
.options{
    font-size:18px;
    font-weight:bold;
}
.optionsL{
    float:left;
}
.optionsM{
    display:inline;
}
.optionsR{
    float:right;
}
.data{
    padding-top:20px;
}
.addTeam{
    display:none;
}
.tab1{
    margin-left:20px;
}
.tab2{
    margin-left:40px;
}
.tab3{
    margin-left:60px;
}
.tab4{
    margin-left:80px;
}
.tab5{
    margin-left:100px;
}
.tab6{
    margin-left:120px;
}
.addMatch{
    display:none;
}
.left{
    float:left;
}
.right{
    float:right;
}
#footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    background:#ccc;
}
.footerContainer, .footerContainer a{
    width:700px;
    margin:0 auto;
    padding-top:10px;
    font-size:14px;
    color:rgb(100,100,100);
}
.footerText{
    text-align:center;
}






h1, h2, h3, h4, h5, h6 {
    /*font-family:ethnocentric;*/
}