@font-face{
  font-family:ethnocentric;
  src:url(/fonts/ethnocentric.ttf);
}
* {
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
}
html {

}
body {
    font-family:arial;
    color:#222;
    font-size:16px;
    background:#f9f9f9;
}
span.button{
    color:#1C1C1C;
    text-decoration:none;
}
span.button:hover{
    text-decoration:underline;
    cursor:pointer;
}
#wrap { /* Contains everything */
    min-height: 100%;
}
#header{
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    
background: #ededed;
background: -moz-linear-gradient(top,  #ededed 0%, #d8d8d8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#d8d8d8));
background: -webkit-linear-gradient(top,  #ededed 0%,#d8d8d8 100%);
background: -o-linear-gradient(top,  #ededed 0%,#d8d8d8 100%);
background: -ms-linear-gradient(top,  #ededed 0%,#d8d8d8 100%);
background: linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d8d8d8',GradientType=0 );

}
.headerLogo{
    text-align:center;
}
.navigation{
    text-align:center;
}
.navigation span{/* The header buttons */
    padding:10px;
    border-radius:5px;
    color:#fff;
    text-shadow: -1px -1px #0091C1;
    text-decoration:none;
    border:1px solid #0091C1;
    font-weight:bold;
    
background: #00bfff;
background: -moz-linear-gradient(top,  #00bfff 0%, #0097fc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00bfff), color-stop(100%,#0097fc));
background: -webkit-linear-gradient(top,  #00bfff 0%,#0097fc 100%);
background: -o-linear-gradient(top,  #00bfff 0%,#0097fc 100%);
background: -ms-linear-gradient(top,  #00bfff 0%,#0097fc 100%);
background: linear-gradient(to bottom,  #00bfff 0%,#0097fc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfff', endColorstr='#0097fc',GradientType=0 );

}
.navigation span:hover{
    background:#00AEE8
}
.navigation span:active{

background: #0097fc;
background: -moz-linear-gradient(top,  #0097fc 0%, #00bfff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0097fc), color-stop(100%,#00bfff));
background: -webkit-linear-gradient(top,  #0097fc 0%,#00bfff 100%);
background: -o-linear-gradient(top,  #0097fc 0%,#00bfff 100%);
background: -ms-linear-gradient(top,  #0097fc 0%,#00bfff 100%);
background: linear-gradient(to bottom,  #0097fc 0%,#00bfff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0097fc', endColorstr='#00bfff',GradientType=0 );


}
#main { /* Elements are within this */
    overflow:auto;
    padding: 20px 10px 100px; /* BOTTOM must be same height as the footer */
    margin:0 auto 20px; /* if footer is broken, remove the 20px */
    width:920px;
    border-left:1px solid #B1B1B1;
    border-right:1px solid #B1B1B1;
    border-bottom:1px solid #B1B1B1;
}
.viewPage{ /* Home */
    text-align:center;
}
.viewTeam{ /* Team view from home */
    float:left;
    width:350px;
}
.viewMatch{ /* Match view from home */
    float:right;
    width:350px;
}
span.viewTeamBox, span.viewMatchBox{ /* The boxes containing the matches and teams */
    background:#cccccc;
    border:1px solid #dddddd;
    box-shadow:0 0 5px #222222;
    padding:20px;
    display:block;
    margin-bottom:30px;
    font-weight:bold;
}
span.viewTeamBox:hover, span.viewMatchBox:hover{
    box-shadow:0 0 7px #222222;
    cursor:pointer;
}
.viewTeamBox{
    margin-left:10px;
}
.viewMatchBox{
    margin-right:10px;
}
.info{ /* More containment */
    border:3px solid #D6D6D6;
    padding:10px 10px 10px;
    margin-top:5px;
    /*display:inline;*/
    width:800px;
    margin:0 auto;
}
.data{
    padding-top:20px;
}
.addTeam{ /* Creating new teams */
    display:none;
}
.addMatch{ /* Creating new matches */
    display:none;
}
/* Tabs for forms */
.tab1{
    margin-left:20px;
}
.tab2{
    margin-left:40px;
}
.tab3{
    margin-left:60px;
}
.tab4{
    margin-left:80px;
}
.tab5{
    margin-left:100px;
}
.tab6{
    margin-left:120px;
}
/* Simple floating classes */
.left{
    float:left;
}
.right{
    float:right;
}
#footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    
background: #d8d8d8;
background: -moz-linear-gradient(top,  #d8d8d8 0%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#ededed));
background: -webkit-linear-gradient(top,  #d8d8d8 0%,#ededed 100%);
background: -o-linear-gradient(top,  #d8d8d8 0%,#ededed 100%);
background: -ms-linear-gradient(top,  #d8d8d8 0%,#ededed 100%);
background: linear-gradient(to bottom,  #d8d8d8 0%,#ededed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#ededed',GradientType=0 );

}
.footerContainer, .footerContainer a{
    width:700px;
    margin:0 auto;
    padding-top:10px;
    font-size:14px;
    color:rgb(100,100,100);
}
.footerText{
    text-align:center;
}

#emptyTeam, #emptyMatch {
    display:none;
}
.clear{
    clear:both;
}
span.title {
    text-decoration:none;
    font-weight:bold;
    font-size:28px;
    font-family:"ethnocentric";
    color:#000000;
    text-shadow: 0 0 5px #00BFFF;
    display:block;
    width:400px;
    margin:0 auto;
}
.titleLeft{
    float:left;
    margin-right:-60px;
}
.titleRight{
    float:right;
    margin-left:-80px;
}
.rightSide{
    float:right;
    margin-right:90px;
    border-left:1px solid #ccc;
    padding-left:50px;
}
.scoutLogo{
}
.inline{
    display:inline;
}
.good{
    color:#1AD60C;
}
.okay{
    color:#C4B20F;
}
.bad{
    color:#D10C0C;
}
h1, h2, h3, h4, h5, h6 {
}