@font-face{
    font-family:ethnocentric;
    src:url(/fonts/ethnocentric.ttf);
}
@font-face{
    font-family:"Open Sans";
    src:url(/fonts/OpenSans-Regular.ttf);
}
* {
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
}
html {

}
body {
    font-family:"Open Sans",arial;
    color:#222;
    font-size:16px;
    /*background:#f9f9f9;*/
    background: linear-gradient(to bottom, #fefefe 0%,#ededed 100%);
    background-repeat: no-repeat; /* Fixes gradient */
    background-attachment: fixed; /* Fixes gradient */
}
a{
    color:#0091C1;
}
a:hover{

}
table{
    margin:0 auto 20px;
    border: 1px solid #ddd;
    border-spacing:0;
    font-size:13px;
    border-collapse:collapse;
}
table td, table th{
    border: 1px solid #ddd;
    padding:0 10px;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom:15px;
}
.none{
    display:none;
}
#wrap{ /* Contains everything */
    min-height: 100%;
    opacity: .99; /* Fixed Z-Index - Funny I know */
}
#header{
    box-shadow:0 0 5px rgba(0,0,0,0.8);
    background: #ededed;
    background: linear-gradient(to bottom,  #ededed 0%,#d8d8d8 100%);
    min-width:920px;
    border-bottom:1px solid #E7E7E7;
}
.headerLogo{
    text-align:center;
}
.year{
    float:right;
    transform: rotate(90deg); /* Doesn't work in chrome */
    -webkit-transform: rotate(90deg);
    color:#ccc;
    font-size:50px;
    margin-top:50px;
}
.navigation{
    text-align:center;
}
.button{
    color:#fff;
    text-decoration:none;
    padding:10px;
    border-radius:5px;
    text-shadow: -1px -1px #0091C1;
    border:1px solid #0091C1;
    font-weight:bold;
    background: #00bfff;
    background: linear-gradient(to bottom,  #00bfff 0%,#0097fc 100%);
}
.button:hover{
    cursor:pointer;
    background: linear-gradient(to bottom, #00bfff 0%,#36abf9 100%);
}
.button:active{
    background: #0097fc;
    background: linear-gradient(to bottom,  #0097fc 0%,#00bfff 100%);
}
.button::selection { /* Doesnt work in FF */
    background-color:transparent;
}
.button::-moz-selection {
    background-color:transparent;
}
#main { /* Elements are within this */
    overflow:auto;
    padding: 20px 10px 100px; /* BOTTOM must be same height as the footer */
    margin:0 auto 20px; /* if footer is broken, remove the 20px */
    width:920px;
    border-left:1px solid #B1B1B1;
    border-right:1px solid #B1B1B1;
    border-bottom:1px solid #B1B1B1;
    background:#fff;
    z-index:-1;
    position:relative;
}
.viewPage{ /* Home */
    text-align:center;
}
#viewTeamWrap{ /* Team view from Show Data */

}
#viewMatchWrap{ /* Match view from Show Data */

}
span.viewTeamBox, span.viewMatchBox{ /* The boxes containing the matches and teams */
    background: #f8f8f8;
    background: linear-gradient(to bottom, #f8f8f8 0%,#dbdbdb 100%);
    border:1px solid #CECECE;
    padding:20px;
    display:block;
    margin-bottom:30px;
    font-weight:bold;
    border-radius:5px;
}
span.viewTeamBox:hover, span.viewMatchBox:hover{
    background: linear-gradient(to bottom, #f8f8f8 0%,#e5e5e5 100%);
    cursor:pointer;
}
span.viewTeamBox:active, span.viewMatchBox:active{
    background: linear-gradient(to bottom, #dbdbdb 0%,#f8f8f8 100%);
}
span.viewTeamBox::selection , span.viewMatchBox::selection { /* Doesnt work in FF */
    background-color:transparent;
}
span.viewTeamBox::-moz-selection, span.viewMatchBox::-moz-selection {
    background-color:transparent;
}
.viewTeamBox{
    margin-left:10px;
}
.viewMatchBox{
    margin-right:10px;
}
div#pageMatch{ /* viewing match page */
    display:none;
}
div#pageTeam{  /* viewing team page */
    display:none;
}
div#teamPopup{
    display:none;
    border:1px solid rgba(0,0,0,0.4);
    border-radius:10px;
    text-align:center;
    width:400px;
    padding:30px 50px 60px 50px;
    margin:0 auto;
    z-index: 999;
    top:50%;
    left:50%;
    position:fixed;
    float:left;
    background:#FFFFFF;
}
.mask {
    display: none;
    background: rgba(0,0,0,0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.info{ /* More containment */
    /*border:3px solid #D6D6D6;*/
    padding:10px 0 10px;
    margin-top:5px;
    /*display:inline;*/
    width:800px;
    margin:0 auto;
}
.data{
    padding-top:20px;
}
/* Tabs for forms */
.tab1{
    margin-left:20px;
}
.tab2{
    margin-left:40px;
}
.tab3{
    margin-left:60px;
}
.tab4{
    margin-left:80px;
}
.tab5{
    margin-left:100px;
}
.tab6{
    margin-left:120px;
}
/* Simple floating classes */
.left{
    float:left;
}
.right{
    float:right;
}
#footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    box-shadow:0 0 5px rgba(0,0,0,0.8);
    background: #d8d8d8;
    background: linear-gradient(to bottom,  #d8d8d8 0%,#ededed 100%);
    border-top:1px solid #E7E7E7;
}
.footerContainer, .footerContainer a{
    width:700px;
    margin:0 auto;
    padding-top:10px;
    font-size:14px;
    color:rgb(100,100,100);
}
.footerText{
    text-align:center;
}
#debug{
    border:1px solid #B2B2B2;
    padding:10px;
    background:#F9F9F8;
    width:500px;
    border-radius:8px;
    margin:0 auto
}
div#editMatch, div#editTeam  {
    /*display:none;*/ /* creates label bug */
}
.clear{
    clear:both;
}
.longText{
    height:20px;
    overflow:hidden;
    cursor:pointer;
    text-overflow:ellipsis;
    white-space:nowrap; 
    padding:10px;
}
.longTextTeam{
    width:350px;
}
.longTextMatch{
    width:150px;
}
span.title {
    text-decoration:none;
    font-weight:bold;
    font-size:28px;
    font-family:"ethnocentric";
    color:#000000;
    text-shadow: 0 0 5px #00BFFF;
    display:block;
    width:400px;
    margin:0 auto;
}
.titleLeft{
    float:left;
    margin-right:-60px;
}
.titleRight{
    float:right;
    margin-left:-80px;
}
.rightSide{
    float:right;
    margin-right:70px;
    border-left:1px solid #ccc;
    padding-left:50px;
}
.scoutLogo{
}
.inline{
    display:inline;
}
.green{
    color:#1C8E02;
}
.yellow{
    color:#C4B20F;
}
.red{
    color:#D10C0C;
}
.blue{
    color:#0213FF;
}
.greenBG{
    background-color:#DFF0D7;
}
.yellowBG{
    background-color:#FCF8E2;
}
.redBG{
    background-color:#F2DEDF;
}
.blueBG{
    background-color:#D9EDF6;
}
tr:nth-child(odd){
    background:#F9F9F8 ;
}
tr:nth-child(even){

}
th{

}
