@font-face{
  font-family:ethnocentric;
  src:url(fonts/ethnocentric.ttf);
}
* {
    margin:0;
    padding:0;
}
html, body {
    height: 100%;
}
html {

}
body {
    font-family:arial;
    color:#1C1C1C;
    font-size:16px;
}
a, a:visited{
    color:#1C1C1C;
    text-decoration:none;
}
a:hover{
    color:#494949;
    text-decoration:underline;
}
a:active{
    color:#303030;
}
#wrap { /* Contains everything */
    min-height: 100%;
}
#header{
    background:#ccc;
}
.headerLogo{
    text-align:center;
}
.navigation{
    text-align:center;
}
.navigation a{ /* The header buttons */
    background:#00BFFF;
    padding:10px;
    border-radius:5px;
    color:#fff;
    text-shadow: -1px -1px #0091C1;
    text-decoration:none;
    border:1px solid #0091C1;
    font-weight:bold;
}
.navigation a:hover{
    background:#00AEE8
}
#main { /* Elements are within this */
    overflow:auto;
    padding: 20px 10px 100px; /* BOTTOM must be same height as the footer */
    margin:0 auto 20px; /* if footer is broken, remove the 20px */
    width:920px;
    border-left:1px solid #DBDBDB;
    border-right:1px solid #DBDBDB;
    border-bottom:1px solid #DBDBDB;
}
.viewPage{ /* Home */
    text-align:center;
}
.viewTeam{ /* Team view from home */
    float:left;
    width:350px;
}
.viewMatch{ /* Match view from home */
    float:right;
    width:350px;
}
.viewTeamBox, .viewMatchBox{ /* The boxes containing the matches and teams */
    background:#ccc;
    border:1px solid #ddd;
    box-shadow:0 0 5px #222;
    padding:20px;
    display:block;
    margin-bottom:30px;
    font-weight:bold;
}
.viewTeamBox{
    margin-left:10px;
}
.viewMatchBox{
    margin-right:10px;
}
.info{ /* More containment */
    border:3px solid #D6D6D6;
    padding:10px 10px 10px;
    margin-top:5px;
    /*display:inline;*/
    width:800px;
    margin:0 auto;
}
.optionsTitle{ /* Editing teams and matches */
    margin:0 auto;
    width:600px;
    text-align:center;
    display:none;
}
.options{
    font-size:18px;
    font-weight:bold;
}
.optionsL{
    float:left;
}
.optionsM{
    display:inline;
}
.optionsR{
    float:right;
}
.data{
    padding-top:20px;
}
.addTeam{ /* Creating new teams */
    display:none;
}
.addMatch{ /* Creating new matches */
    display:none;
}
/* Tabs for forms */
.tab1{
    margin-left:20px;
}
.tab2{
    margin-left:40px;
}
.tab3{
    margin-left:60px;
}
.tab4{
    margin-left:80px;
}
.tab5{
    margin-left:100px;
}
.tab6{
    margin-left:120px;
}
/* Simple floating classes */
.left{
    float:left;
}
.right{
    float:right;
}
#footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    background:#ccc;
}
.footerContainer, .footerContainer a{
    width:700px;
    margin:0 auto;
    padding-top:10px;
    font-size:14px;
    color:rgb(100,100,100);
}
.footerText{
    text-align:center;
}






h1, h2, h3, h4, h5, h6 {
    /*font-family:ethnocentric;*/
}